* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: rgb(65, 65, 65);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

.contenedor {
    
    width: 400px;
    height: 300px;
    display: flex;
    border: solid black 2px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
    background-color: aqua;
}

.cuadrado {
    width: 50px;
    height: 50px;
    background-color: aqua;
    position: relative;
    top: 140px;
    left: 175px;
    animation-name: colores;
    animation-duration: 5s;
    animation-iteration-count: infinite;


}

.cuadrado2 {

    top:140px ;
    left: 170px;
    width: 50px;
    height: 50px;
    background-color: black;
    position: relative; 
    animation: recorrer 5s linear infinite;
    border-radius: 5px;
}
    
    
    


    





@keyframes colores {

    0%
    {
        background-color: red ;

    }

    25%
    {
        background-color: rgb(39, 223, 79) ;
        
    }

    50%
    {
        background-color: rgb(253, 15, 174) ;
        
    }

    100%
    {
        background-color: red ;
        
    }

}

@keyframes recorrer {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: calc(87% - 50px); 
    }
    50% {
        top: calc(100% - 50px); 
        left: calc(87% - 50px);
    }
    75% {
        top: calc(100% - 50px);
        left: 0; 
    }
    100% {
        top: 0;
        left: 0; 
    }
}

